# DACademy Session 1: Basic GitHub + Intro to Python

## Comments and Print Statements:

In [42]:
# Welcome to DAC!
# Single-line comments use the ______
# Comments are useful for explaining code or for temporary debugging

"""
Multi-line comments are created using ______
They can span multiple lines and are often used for detailed explanations or documentation.
Hi hi hi hi hi
"""

# The print() function is used to display output
print("Hello World")

Hello World

**Keyboard Shortcuts to Run Code**


*   Mac: Command (âŒ˜) + Enter
*   Windows: Ctrl + Enter

In [35]:
# Now try printing your name!
print("Eric")

Eric

## Basic Arithmetic Operations and Data Types

In [44]:
# Arithmetic Operators: + - * / % **

# Addition +
print(8 + 3)
# Subtraction -
print(8-3)
# Multiplication *
print(8 * 3)
# Division /
print(8 / 3)
# Modulo % (Gives the remainder of division, e.g., 8 % 3 = 2)
print(8 % 3)
# Exponentiation **
print(8 ** 3)

11
5
24
2.6666666666666665
2
512

In [50]:
# Text inside quotes is known as a string
# Can use either "" or '', both work the same
print("meow meow")
print('meow meow')

# This is to show you that the string can contain any special characters
print("!@#$%jkwewuorweprh6546846515648646546")

# Integers are whole numbers
print(10)

# Long Integers (Python automatically handles big integers)
print(2 ** 32)

# Floats represent decimal numbers
print(3.14)

# Complex Numbers use 'j' to represent the imaginary part
print(2 + 3j)

meow meow
meow meow
!@#$%jkwewuorweprh6546846515648646546
10
4294967296
3.14
(2+3j)

## Boolean
*   Booleans represent one of two values: True or False.

In [88]:

  # Modulus operation gives the remainder of 10 divided by 3 (which is 1)
a = 5
b = 10 % 3
c = bool(a==b)
c
print(c)
  # bool() converts the result of the comparison to True or False
  # This will print False since 5 is not equal to 1

False

In [58]:
# Equals ==
print(5 == 5)
# Inqual !=
print
# More than >

# More than and equal to >=

# Less than <

# Less than and equal to <=

In [91]:
# Using Boolean to find the Data Type of a Variable
# Use type() to find the data type of a value or variable

 # A Boolean value can be either True or False.
a = True
print(type(a))
 # This checks the type of 'a' and will return <class 'bool'>

# Checking the type of a string
print(type("i love DAC"))
  # This will return <class 'str'>, indicating it's a string.

# Checking the type of an integer
print(type(23))
  # This will return <class 'int'>, indicating it's an integer.

<class 'bool'>
<class 'str'>
<class 'int'>

## Converting Data types

In [99]:
# Convert a float to an integer
  # Output: 6
print(int(6.555555))

# Convert an integer to a float
  # Output: 3.0
print(float(3))

# Convert an integer to a string and print its type
  # Output: <class 'str'>
print(type(str(6)))

# Convert a non-zero integer to a boolean
  # Output: True (Any non-zero value is considered True)
print(bool(5))

# Note on variable naming:
# It's best to avoid using function names as variable names to prevent confusion.
  # Use descriptive names for clarity
decimal_value = 3.142
print(decimal_value)

  # Keep the variable name clear and relevant
number = 5
print(number)

6
3.0
<class 'str'>
True
3.142
5

## Sequence Types: Strings, Lists, and Tuples

### Working with Strings

In [108]:
# Creating strings
name = "Eric"
print(name)

# Combining strings
  # Remember to include spaces within the quotes; otherwise, the result will be "JunYo" instead of "Jun Yo".
last_name = "Chee"
print("Full Name: " + name + " " + last_name)

# Alternative Method for String Formatting
  # The numbers {0} and {1} correspond to the respective order of the variables: Eric = 0, Chee = 1.
print("Full Name: {0} {1}".format(name, last_name))

Eric
Full Name: Eric Chee
Full Name: Eric Chee

### Working with Lists

*   [ ]
*   It is used to store multiple items in a single variable

Just some things to note

(Example)
In the list: list4 = [3, 1, 4, 1, 5]

*   **list4** is the **variable** that stores the list.
*   **3, 1, 4, 1, 5** are the **elements** in the list.
*   **Indexes** represent the **position** of each element, **starting from 0:**
     *   '3' is at index 0
     *   '1' is at index 1
     *   '4' is at index 2
     *   '1' is at index 3
     *   '5' is at index 4

In [111]:
 # Empty list
list1 = []
print(list1)



 # List with different data types
mixedlist = [True, "Monday", 134, 3.14]
print(mixedlist)

[]
[True, 'Monday', 134, 3.14]

In [113]:
# Adding elements to a list using the above variables

  # Adding an integer to the list
list1.append(1)
list1.append("yay")
print(list1)

  # Adding a string to the list
  # Output: [1, "AHH"]
mixedlist.append(1)
mixedlist.append("AHH")
print(mixedlist)

  # Adding a string to the mixed list
  # Output: [True, 'Slay', 173, 3.14, 'AHH']

  

"""
Note on the append() method:

The append() method adds the element to the end of the list each time it is executed.
Calling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.
(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)
To reset the list, you can reinitialize it (rerun the code from the beginning).
"""

[1, 'yay', 1, 'yay']
[True, 'Monday', 134, 3.14, 1, 'AHH']

'\nNote on the append() method:\n\nThe append() method adds the element to the end of the list each time it is executed.\nCalling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.\n(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)\nTo reset the list, you can reinitialize it (rerun the code from the beginning).\n'

In [115]:
# Inserting elements into a list at a specific position
# Syntax: list_.insert(position, item)
  # Insert the number 50 at the 0th index (1st number is the position, 2nd is the element to add)
list1.insert(0,50)
print(list1)
  # Output will show 50 at the start of the list

[50, 1, 'yay', 1, 'yay']

In [116]:
# Deleting elements from a list

# Using `del` to delete by index
  # Deletes the element at index 0 (1st element in the list)
  # Output: List with the 1st element removed
del list1[0]
print(list1)

[1, 'yay', 1, 'yay']

In [117]:
# Alternative Method for Deleting elements from a list

# Using `remove()` to delete by value
  # Removes the first occurrence of the value 50 from the list
  # Output: List without the first 50
list1.remove("yay")
print(list1)

[1, 1, 'yay']

In [119]:
# List Indexing

  # Finds the index position of the element '3' in the list
  # Output: 0 (since '3' is at the 0th index)
list4 = [3, 1, 4, 1, 5]
index_list4 = list4.index(3)
print(index_list4)

0

In [122]:
# Finding minimum and maximum values in a list
  # Use the min() function to find the smallest element in list4
min_list4 = min(list4)
  # Use the max() function to find the largest element in list4
max_list4 = max(list4)

print(min_list4)
print(max_list4)



# With labels
  # Output the minimum value
print("Maxiumum value:", min_list4)
  # Output the maximum value
print("Minimum value:", max_list4)

1
5
Maxiumum value: 1
Minimum value: 5

In [123]:
listNum = [4,2,1,3,6,5,9]
 # Use the sorted() function to sort the list
sorted_listNumList = sorted(listNum)
 # Output the sorted list
print(sorted_listNumList)

[1, 2, 3, 4, 5, 6, 9]

In [125]:
listNum2 = [1,2,3,4,5,6,9]
 # Reverse listNum2
listNum2.reverse()
# Otput the reversed list
print(listNum2)

[9, 6, 5, 4, 3, 2, 1]

In [128]:
listNum2 = [1,2,3,4,5,6,9]
 # Clear all elements from the list
listNum2.clear()
 # Print the cleared list
print(listNum2)

[]

In [129]:
list5 = ["M","A","Y"]
list6 = ["A", 123]
 # Add the two lists together
listAdded = list5 + list6
 # Output the added list
print(listAdded)

['M', 'A', 'Y', 'A', 123]

In [130]:
listNames = ["Eric","Chee"]
 # Multiply the list by 2
listMultiplied = listNames * 2
 # Output the multiplied list
print(listMultiplied)

['Eric', 'Chee', 'Eric', 'Chee']

### Working with Tuples
- Immutable
- It is a ordered sequence of values

In [132]:
dance = ("jazz", "tap")
 # Check the type of the 'parents' variable
type(dance)

tuple

In [133]:
tuplelist = list(dance)
 # Output the list
print(tuplelist)
 # Check the type of 'tuplelist'
type(tuplelist)

['jazz', 'tap']

list

In [135]:
 # Add new line to the list 'tuplelist'
tuplelist.append("Ballet")
 # Output the updated list
print(tuplelist)

['jazz', 'tap', 'Ballet']

In [136]:
 # Convert the list 'tuplelist' back to a tuple
new_tuple = tuple(tuplelist)
 # Check the value of the new tuple
 print(new_tuple)

('jazz', 'tap', 'Ballet')

In [137]:
 # Get the length of the list 'tuplelist'
length_of_tuplelist = len(tuplelist)
 # Output of the length
print(length_of_tuplelist)

3

## Working with Sets

{ }
- It is an unordered collection with no duplicate elements
- Computer implementation of the mathematical concept of a finite set
- Mutable

In [138]:
x = {"dog", "cat", "wolf"}
 # Output of the set
print(x)

{'cat', 'dog', 'wolf'}

In [139]:
 # Add an element to the set
x.add("fish")
 # Output of the updated set
print(x)

{'cat', 'fish', 'dog', 'wolf'}

In [141]:
 # Remove an element from the set
x.remove("cat")
 # Output of the updated set
print(x)

{'fish', 'dog', 'wolf'}

In [143]:
z = {(1,2,3), "Hello",2, 4.3}
 # Output of the set
print(z)

{2, (1, 2, 3), 4.3, 'Hello'}

In [149]:
r = [1,2,3,4,5,7,4]
 # Output of the original list
print(r)
 # Convert the list to a set (to remove duplicates)
r_set = set(r)
 # Output of the converted set
print(r_set)
 # Check the data type of r_set
type_of_r_set = type(r_set)
 # Output of the converted set
print(type_of_r_set)

[1, 2, 3, 4, 5, 7, 4]
{1, 2, 3, 4, 5, 7}
<class 'set'>